.custom-container {
  width: 90%;
}
@media (min-width: 640px) {
  .custom-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .custom-container {
    max-width: 668px;
  }
}
@media (min-width: 1024px) {
  .custom-container {
    max-width: 924px;
  }
}
@media (min-width: 1280px) {
  .custom-container {
    max-width: 1180px;
  }
}
@media (min-width: 1536px) {
  .custom-container {
    max-width: 1436px;
  }
}
