---
import Prose from "../components/Prose.astro";
import Layout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.astro";
import { person } from "../consts";
---

<Layout class="flex flex-col items-center">
  <h1 class="text-5xl font-bold mb-4" transition:name="title">About me</h1>

  <img
    src={person.portraitUrl}
    alt=""
    class="rounded-lg mb-4 w-40"
    transition:name="pfp"
  />

  <Prose>
    <p>
      I'm a passionate <strong>Full Stack Developer</strong> with a strong focus
      on frontend development using <strong>React.js</strong> and web technologies.
      I'm based in Karlsruhe, Germany, and originally from Hungary. I love building
      creative, user-friendly web applications that blend functionality with an engaging
      user experience.
    </p>
    <p>
      I've been working as a freelancer and contributing to <strong
        >open-source projects</strong
      >, gaining hands-on experience with modern frameworks like <strong
        >React</strong
      >, <strong>Astro</strong>, and <strong>Next.js</strong>. Recently, I've
      also integrated <strong>AI</strong> and <strong>machine learning</strong> into
      my projects, focusing on innovative user interactions such as <strong
        >motion control games</strong
      >.
    </p>
    <p>
      With over 3 years of development experience, I'm always exploring new
      technologies and methodologies to deliver high-performance web
      applications. Some of my favorite projects include:
    </p>
    <ul>
      <li>Building a <strong>blockchain-based chess app</strong>.</li>
      <li>
        Creating a <strong>motion-controlled Space Invaders game</strong>.
      </li>
      <li>
        Developing a <strong>customizable JavaScript library</strong> for enhancing
        user navigation in Astro.
      </li>
    </ul>
    <p>
      In addition to coding, I'm always looking for ways to improve and push my
      limits. Whether it's at the gym, exploring new recipes in the kitchen, or
      diving into the latest web development trends, I'm passionate about <strong
        >continuous growth</strong
      > and <strong>creativity</strong> in everything I do.
    </p>
    <p>
      If you're looking for someone to bring <strong
        >innovative web projects to life</strong
      > or collaborate on exciting open-source initiatives, feel free to reach out!
    </p>
  </Prose>

  <ContactForm class="mt-20" />
</Layout>
