---
import { getCollection } from "astro:content";
import WorkCard from "./WorkCard.astro";

const { class: className, ...rest } = Astro.props;

const works = (await getCollection("work"))
  .filter((work) => work.data.isHighlight)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<section>
  <ul
    class:list={["grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8", className]}
    {...rest}
  >
    {
      works.map((work, index) => (
        <li class={`relative ${index % 2 === 0 ? "md:translate-y-10" : ""}`}>
          <WorkCard {work} />
        </li>
      ))
    }
  </ul>
</section>
